@charset "utf-8";
div.botList {
	padding: 10px 0 16px 5px;
}

.fl {
	float: left;
}

.botList a {
	line-height: 32px;
	overflow: hidden;
	padding: 1px 0 0 2px;
}

a.submit {
	background: url("../images/photo/page2.gif") no-repeat scroll
		-5px -135px transparent;
	border: medium none;
	color: #535353;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 6px 0 0;
	outline: medium none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 87px;
}

a.submit:hover {
	background: url("../images/photo/page2.gif") no-repeat scroll
		-5px -168px transparent;
	border: medium none;
	color: #535353;
	float: left;
	height: 32px;
	line-height: 32px;
	margin: 0 6px 0 0;
	outline: medium none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 87px;
}

.fl a {
	color: #015BAB;
	text-decoration: none;
}

.clear:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clear {
	display: block;
}

.clear {
	display: inline-table;
}

body,form,h1,h2,h3,h4,h5,h6,ul,li,dl,dd,dt,p {
	margin: 0;
	padding: 0;
}

.impressList li {
	float: left;
	overflow: hidden;
	width: 180px;
}

li {
	list-style-type: none;
}

.impressList li div.h {
	height: 200px;
	width: 140px;
}
.impressList li div.b {
	background: url("../images/photo/impressnew.gif") no-repeat scroll 0 3px transparent;
	height: 129px;
	padding: 6px 6px 9px;
	width: 128px;
}
.fr{
	margin-top:3px;
	float:right;
}
.impressList li div.w {
	color: #939393;
	height: 20px;
	margin: 2px 0;
	width: 140px;
	margin-top:5px;
}
.impressNew div.botList {
    padding: 10px 0 16px;
}
.sort {
	display: block;
	float: left;
	width: 95px;
	height: 30px;
	color: #535353;
	line-height: 30px;
	text-align: center;
	background: url(../images/photo/impressnew.gif) no-repeat -107px -146px;
	outline: none
}
a.sort:hover{
	border: 1px solid #d9d9d9;
	
}
.botList.sortType {
	position: absolute;
	margin: 22px 0 0 -98px;
	border: 1px solid #d9d9d9;
	border-top: none;
	background: #fff;
	width: 118px
}

.botList.sortType div {
	float: right;
	width: 25px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #d9d9d9
}

.botList.sortType ul {
	clear: both;
	margin: 0 1px 1px 1px
}

.botList.sortType li {
	padding-left: 12px;
	width: 104px;
	cursor: pointer;
	line-height: 24px
}

.botList.sortType li.s {
	background: url(../images/photo/impressnew.gif)
		no-repeat -159px 8px
}

.botList.sortType li.m {
	background-color: #e8e8e8
}
div.botList {
    height: 24px;
    padding: 12px 10px;
}
.borderTop {
    border-top: 1px dashed #C2C2C2;
}
.cl {
    clear: both;
}
.impressList img.new, .photoList img.new {
    background: url("../images/photo/impressnew.gif") no-repeat scroll 0 -158px transparent;
    height: 11px;
    width: 28px;
}
img {
    border: medium none;
}
.nrSide h4 {
    border-bottom: 1px dashed #D4D4D4;
    clear: both;
    color: #313131;
    font-size: 14px;
    font-weight: 200;
    height: 32px;
    line-height: 32px;
    margin-top: 7px;
}
.nrSide .newPhoto {
    padding-top: 10px;
}
body, form, h1, h2, h3, h4, h5, h6, ul, li, dl, dd, dt, p {
    margin: 0;
    padding: 0;
}
.nrSide .newPhoto li {
    float: left;
    height: 74px;
    padding: 0 4px 4px 0;
    width: 74px;
}
.impressList a.edit, .impressList a.del, .impressNew .photoList a.edit, .impressNew .photoList a.del, .impressInfo a.edit, .impressInfo a.del {
    background: url("../images/photo/impressnew.gif") no-repeat scroll 0 -185px transparent;
    margin-right: 5px;
    padding-left: 16px;
}
.impressList a.del, .impressNew .photoList a.del, .impressInfo a.del {
    background-position: 0 -212px;
}