@charset "utf-8";
/* SORT */
.nav_sort_gb{
	background:url(../images/menu_bg.png) repeat-x top left;
}
.nav_sort_left{
	background:url(../images/menu_left.png) no-repeat top right;
}
.nav_sort_right{
	background:url(../images/menu_right.png) no-repeat top left;
}
.nav_sort{
	width:100%;
	height:28px;
	margin-top:4px;
	margin-bottom:0px;
}
.nav_sort ul{
	margin:0px;
	margin-left:0px;
}
.nav_sort ul li{
	float:left; 
	list-style-type:none;
	display:block;
	width:72px;
	line-height:28px;
	margin-left:5px;
	background:url(../images/nav_point.png) no-repeat top left;
}
.nav_sort a{
	font-size:12px;
	float:left; 
	list-style-type:none;
	display:block;
	width:72px;
	line-height:28px;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}
.nav_sort_un{
	background:url(../images/nav_point.png) no-repeat top left;
}
.nav_sort_on{
	background:url(../images/nav_point_on.png) no-repeat top left;
}
/* Main */
.nav_ul{
	margin-top:5px;
	background: url(../images/nav_ul_bg.jpg) repeat-x;
	width:100%;
	height:34px;
}
.nav_ul ul{
	margin:0px;
	margin-left:5px;	
}
.nav_ul li{
	float:left; 
	list-style-type:none;
	margin-left:16px;
	display:block;
	width:120px;
	line-height:34px;
	font-weight:bold;
	text-align:center;
}
.nav_ul a{
	font-size:14px;
	font-weight:bold;
	color:black;
	display:block;
	width:120px;
	height:34px;
	text-decoration:none;
}
.nav_ul a:hover{
	background:url(../images/nav_ul_on.jpg);
	text-decoration:none;
}
.nav_ul_on{
	background:url(../images/nav_ul_on.jpg);
}
/* Minor */
.nav_li{
	margin-top:0px;
	width:100%;
	height:22px;
}
.nav_li ul{
	margin:0px;
	margin-left:5px;	
}
.nav_li li{
	float:left;
	margin-left:10px;
	list-style-type:none;
	display:block;
	width:70px;
	line-height:22px;
	text-align:center;
}
.nav_li a{
	font-size:13px;
	color:black;
	display:block;
	width:70px;
	height:22px;
	line-height:22px;
	text-align:center;
	text-decoration:none;
}
.nav_li a:hover{
	text-decoration:none;
}
/* */
.hor_italic{
	width:100%;
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
}
.hor_italic ul{
	margin:0px;
	margin-left:0px;
}
.hor_italic li{
	font-size:13px;
	float:left; 
	list-style-type:none;
	display:block;
	width:80px;
	line-height:20px;
	border-left:thin;
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#6666FF;	
	border-left: #FFFFFF solid 1px;
	cursor:pointer;
	font-weight:bold;
}

.menu_area{
	width:100%;
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
}
.menu_area ul{
	margin:0px;
	margin-left:0px;
}
.menu_area li{
	font-size:13px;
	float:left; 
	list-style-type:none;
	display:block;
	width:80px;
	line-height:20px;
	border-left:thin;
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#6666FF;	
	border-left: #FFFFFF solid 1px;
	cursor:pointer;
	font-weight:bold;
}
/* MENU */
.menu_ul{
	margin-top:5px;
	background-image: url(../images/nav_bg.jpg);
	background-repeat: repeat-x;
	width:100%;
	height:34px;
}
.menu_ul ul{
	margin:0px;
	margin-left:5px;	
}
.menu_ul li{
	float:left; 
	list-style-type:none;
	margin-left:16px;
	display:block;
	width:120px;
	line-height:34px;
	font-weight:bold;
	text-align:center;
}
.menu_ul a{
	font-size:14px;
	font-weight:bold;
	color:black;
	display:block;
	width:120px;
	height:34px;
	text-decoration:none;
}
.menu_ul a:hover{
	background:url(../images/nav_action.jpg);
	text-decoration:none;
}
.menu_ul_action{
	background:url(../images/nav_action.jpg);
}
/* MENU */
.nav_point{
	margin-top:5px;
	width:100%;
	height:22px;
}
.nav_point ul{
	background:url(../images/menu_bg.png) repeat-x top left;
	margin:0px;
	margin-left:0px;	
}
.nav_point li{
	float:left; 
	list-style-type:none;
	margin-right:1px;
	display:block;
	width:71px;
	line-height:22px;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	background: url(../images/nav_point.png) no-repeat top left;
	color:#69C;
}
.nav_point_un{
	background: url(../images/nav_point.png) no-repeat top left;
}
.nav_point_on{
	background:url(../images/nav_point_on.png) no-repeat top left;
}

/* MENU */
.nav_GA_center{
	background:url(../images/menu_bg.png) repeat-x top left;
}
.nav_GA_left{
	background:url(../images/menu_left.png) no-repeat top right;
}
.nav_GA_right{
	background:url(../images/menu_right.png) no-repeat top left;
}
.nav_GA{
	width:100%;
	height:28px;
	margin-top:4px;
	margin-bottom:0px;
}
.nav_GA ul{
	margin:0px;
	margin-left:0px;
}
.nav_GA ul li{
	float:left; 
	list-style-type:none;
	display:block;
	width:72px;
	line-height:28px;
	margin-left:5px;
	background:url(../images/nav_point.png) no-repeat top left;
}
.nav_GA a{
	font-size:12px;
	float:left; 
	list-style-type:none;
	display:block;
	width:72px;
	line-height:28px;
	text-align:center;
	text-decoration:none;
	color:#999;
	font-weight:bold;
	border:0px;
	cursor:pointer;
}
.nav_GA a:link {
 	color:#999;
 	text-decoration: none;
}
.nav_GA a:visited {
	color:#999;
  	text-decoration: none;
}
.nav_GA a:active {
 	color:#999;
 	text-decoration: none;
}
.nav_GA a:hover{
	background:url(../images/menu_point_on.png) no-repeat top left !important;
	text-decoration: none;
}
.nav_GA_un{
	background:url(../images/menu_point.png) no-repeat top left;
}
.nav_GA_on{
	background:url(../images/menu_point_on.png) no-repeat top left;
}
